@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Midlandluxury';
  src: local('Midlandluxury'), url(./assets/fonts/Midlandluxury-Regular.otf) format('opentype');
}

*
{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.container{
  max-height: 100%;
  max-width: 1400px;
  margin: 0 auto;
 
}

body{font-family: 'inter';
}

h1,h2,h3,h4,h5,h4{
  font-family: 'MidlandLuxury';
  font-weight:800;
}

.image{
  -webkit-mask-repeat:no-repeat;
}

.blob{
  -webkit-mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik00NS42LC00NC45QzU5LjIsLTMyLjEsNzAuMywtMTYsNzAuMywwQzcwLjIsMTYsNTkuMSwzMS45LDQ1LjUsNDUuN0MzMS45LDU5LjQsMTYsNzEsLTEsNzJDLTE4LDczLC0zNiw2My41LC00Ny4zLDQ5LjdDLTU4LjcsMzYsLTYzLjUsMTgsLTY1LjEsLTEuNkMtNjYuNywtMjEuMSwtNjUuMSwtNDIuMywtNTMuNywtNTUuMkMtNDIuMywtNjgsLTIxLjEsLTcyLjYsLTIuNiwtNzBDMTYsLTY3LjUsMzIuMSwtNTcuOCw0NS42LC00NC45WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwIDEwMCkiIC8+Cjwvc3ZnPgo=);
}