@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Midlandluxury';
  src: local('Midlandluxury'), url(./assets/fonts/Midlandluxury-Regular.otf) format('opentype');
}

*
{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

.container{
  max-height: 100%;
  max-width: 1400px;
  margin: 0 auto;
 
}

body{font-family: 'inter';
}

h1,h2,h3,h4,h5,h4{
  font-family: 'MidlandLuxury';
  font-weight:800;
}

p{
  
}